@font-face {
  font-family: MonkFontTittle;
  src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-ExtXBd.ttf);
}
@font-face {
  font-family: MonkFontTextRegular;
  src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-TextMd.otf);
}
.navbar {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  height: 100vh;
  position: sticky;
  justify-content: center;
  top: 0;
}
.navbar .bullet {
  margin: 0.3rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .bullet__number {
  font-family: MonkFontTextRegular;
  font-size: 1rem;
  text-decoration: none;
}

.color-grey {
  background-color: #2c2d38;
}

.color-yellow {
  background-color: #ffcb16;
}

.color-blue {
  background-color: #4f24ee;
}

.color-violet {
  background-color: #3c0c60;
}

.color-lime {
  background-color: #00dc7c;
}

.color-green {
  background-color: #002838;
}

.logo-grey {
  filter: initial;
}

.logo-yellow {
  filter: invert(18%) sepia(80%) saturate(6816%) hue-rotate(272deg) brightness(84%) contrast(87%);
}

.logo-blue {
  filter: invert(55%) sepia(39%) saturate(372%) hue-rotate(30deg) brightness(164%) contrast(108%);
}

.logo-violet {
  filter: invert(29%) sepia(43%) saturate(7027%) hue-rotate(331deg) brightness(101%) contrast(101%);
}

.logo-lime {
  filter: invert(20%) sepia(85%) saturate(3250%) hue-rotate(195deg) brightness(65%) contrast(119%);
}

.logo-green {
  filter: invert(81%) sepia(25%) saturate(6572%) hue-rotate(39deg) brightness(91%) contrast(101%);
}

.nav-grey {
  border: 2px solid #dfbbfe;
}
.nav-grey:hover, .nav-grey .active-grey {
  background: #dfbbfe;
  color: #2c2d38;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-grey:hover .navItem-grey, .nav-grey .active-grey .navItem-grey {
  color: #2c2d38;
}

.navItem-grey {
  color: #dfbbfe;
}

.nav-greyTwo {
  border: 2px solid #dfbbfe;
}
.nav-greyTwo:hover, .nav-greyTwo .active-greyTwo {
  background: #dfbbfe;
  color: #2c2d38;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-greyTwo:hover .navItem-greyTwo, .nav-greyTwo .active-greyTwo .navItem-greyTwo {
  color: #2c2d38;
}

.navItem-greyTwo {
  color: #dfbbfe;
}

.nav-yellow {
  border: 2px solid #7d26c9;
}
.nav-yellow:hover, .nav-yellow .active-yellow {
  background: #7d26c9;
  color: #ffcb16;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-yellow:hover .navItem-yellow, .nav-yellow .active-yellow .navItem-yellow {
  color: #ffcb16;
}

.navItem-yellow {
  color: #7d26c9;
}

.nav-blue {
  border: 2px solid #e1ff9a;
}
.nav-blue:hover, .nav-blue .active-blue {
  background: #e1ff9a;
  color: #4f24ee;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-blue:hover .navItem-blue, .nav-blue .active-blue .navItem-blue {
  color: #4f24ee;
}

.navItem-blue {
  color: #e1ff9a;
}

.nav-violet {
  border: 2px solid #ff245b;
}
.nav-violet:hover, .nav-violet .active-violet {
  background: #ff245b;
  color: #3c0c60;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-violet:hover .navItem-violet, .nav-violet .active-violet .navItem-violet {
  color: #3c0c60;
}

.navItem-violet {
  color: #ff245b;
}

.nav-lime {
  border: 2px solid #4f24ee;
}
.nav-lime:hover, .nav-lime .active-lime {
  background: #4f24ee;
  color: #00dc7c;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-lime:hover .navItem-lime, .nav-lime .active-lime .navItem-lime {
  color: #00dc7c;
}

.navItem-lime {
  color: #4f24ee;
}

.nav-green {
  border: 2px solid #00dc7c;
}
.nav-green:hover, .nav-green .active-green {
  background: #00dc7c;
  color: #002838;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-green:hover .navItem-green, .nav-green .active-green .navItem-green {
  color: #002838;
}

.navItem-green {
  color: #00dc7c;
}

.zoomed {
  animation: zoomIn 1s ease-in-out;
}

.fromBottom {
  animation: fromBottom 2s ease-in-out;
}

.fromSide {
  animation: fromSide 2s ease-in-out;
}

.appear {
  animation: appear 2s ease-in-out;
}

.vibrate {
  animation: appear 2s ease-in-out, vibrate 0.8s linear infinite both;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}
@keyframes fromBottom {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes fromSide {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: translate(-2px, -2px);
    transform: rotate(2deg);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
    transform: rotate(-4deg);
  }
  70% {
    transform: translate(-2px, 2px);
    transform: rotate(4deg);
  }
  80% {
    transform: translate(-2px, -2px);
    transform: rotate(-2deg);
  }
  90% {
    transform: translate(2px, -2px);
    transform: rotate(2deg);
  }
  100% {
    transform: translate(0);
  }
}
.parallax-mirror {
  display: flex;
  justify-content: flex-end;
  left: 230px !important;
}

.parallax-slider {
  filter: opacity(50%);
  top: -270px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #2c2d38;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
body .logoContainer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
}
body .logoContainer__img {
  width: 5%;
  height: auto;
}
body #container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-areas: "sec1 nav" "sec2 nav" "sec3 nav" "sec4 nav" "sec5 nav" "sec6 nav" "sec7 nav";
}
body #container #section-0, body #container #section-2, body #container #section-3, body #container #section-6, body #container #section-5, body #container #section-4 {
  font-family: MonkFontTittle;
  color: #dfbbfe;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: sec1;
}
body #container #section-0 h1, body #container #section-2 h1, body #container #section-3 h1, body #container #section-6 h1, body #container #section-5 h1, body #container #section-4 h1 {
  width: 80%;
  line-height: 7.5rem;
  animation: appear 2s ease-in-out;
}
body #container #section-0 .vectorContainer, body #container #section-2 .vectorContainer, body #container #section-3 .vectorContainer, body #container #section-6 .vectorContainer, body #container #section-5 .vectorContainer, body #container #section-4 .vectorContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  width: 62%;
}
body #container #section-0 .vectorContainer .vectorTrace, body #container #section-2 .vectorContainer .vectorTrace, body #container #section-3 .vectorContainer .vectorTrace, body #container #section-6 .vectorContainer .vectorTrace, body #container #section-5 .vectorContainer .vectorTrace, body #container #section-4 .vectorContainer .vectorTrace {
  width: 40%;
}
body #container #section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sec2;
}
body #container #section-1 .section-1__img {
  opacity: 0;
}
body #container #section-2, body #container #section-3, body #container #section-6, body #container #section-5, body #container #section-4 {
  color: #7d26c9;
  grid-area: sec3;
}
body #container #section-2 .section-2__tittle, body #container #section-3 .section-2__tittle, body #container #section-6 .section-2__tittle, body #container #section-6 .section-6__tittle, body #container #section-5 .section-2__tittle, body #container #section-5 .section-5__tittle, body #container #section-4 .section-2__tittle, body #container #section-4 .section-4__tittle, body #container #section-3 .section-3__tittle, body #container #section-6 .section-3__tittle, body #container #section-5 .section-3__tittle, body #container #section-4 .section-3__tittle {
  width: 80%;
  font-size: 7rem;
  line-height: 7rem;
  margin-bottom: 7rem;
}
body #container #section-2 .section-2__tittle--span, body #container #section-3 .section-2__tittle--span, body #container #section-6 .section-2__tittle--span, body #container #section-5 .section-2__tittle--span, body #container #section-4 .section-2__tittle--span {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  height: 3rem;
}
body #container #section-2 .section-2__tittle--span img, body #container #section-3 .section-2__tittle--span img, body #container #section-6 .section-2__tittle--span img, body #container #section-5 .section-2__tittle--span img, body #container #section-4 .section-2__tittle--span img {
  position: absolute;
  top: -30px;
  width: 19rem;
  height: 1rem;
}
body #container #section-2 .section-2__paragraph, body #container #section-3 .section-2__paragraph, body #container #section-6 .section-2__paragraph, body #container #section-6 .section-6__paragraph, body #container #section-5 .section-2__paragraph, body #container #section-5 .section-5__paragraph, body #container #section-4 .section-2__paragraph, body #container #section-4 .section-4__paragraph, body #container #section-3 .section-3__paragraph, body #container #section-6 .section-3__paragraph, body #container #section-5 .section-3__paragraph, body #container #section-4 .section-3__paragraph {
  width: 40%;
  font-family: MonkFontTextRegular;
  font-size: 2rem;
}
body #container #section-3, body #container #section-6, body #container #section-5, body #container #section-4 {
  color: #e1ff9a;
  grid-area: sec4;
}
body #container #section-3 .section-3__tittle, body #container #section-6 .section-3__tittle, body #container #section-5 .section-3__tittle, body #container #section-4 .section-3__tittle {
  width: 100%;
}
body #container #section-3 .section-3__paragraph, body #container #section-6 .section-3__paragraph, body #container #section-5 .section-3__paragraph, body #container #section-4 .section-3__paragraph {
  width: 38%;
}
body #container #section-4 {
  color: #ff245b;
  grid-area: sec5;
}
body #container #section-4 .section-4__tittle {
  width: 75%;
}
body #container #section-4 .section-4__paragraph {
  width: 37%;
}
body #container #section-5 {
  color: #4f24ee;
  grid-area: sec6;
}
body #container #section-5 .section-5__tittle {
  width: 90%;
  margin-bottom: 0;
}
body #container #section-5 .section-5__paragraph {
  width: 38%;
  margin-top: 7rem;
}
body #container #section-5 .section-5__midContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 55%;
  height: 3rem;
}
body #container #section-5 .section-5__midContainer__img {
  position: absolute;
  top: 0;
  width: 35%;
}
body #container #section-6 {
  color: #00dc7c;
  grid-area: sec7;
}
body #container #section-6 .section-6__tittle {
  width: 60%;
}
body #container #section-6 .section-6__paragraph {
  width: 39%;
}

section {
  height: 100vh;
  min-height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
