.background-2 {
  background: #ffcb16;
}

.background-3 {
  background: #4f24ee;
}

@font-face {
  font-family: MonkFontTittle;
  src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-ExtXBd.ttf);
}
@font-face {
  font-family: MonkFontParagraph;
  src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-TextMd.otf);
}
@font-face {
  font-family: MonkFontNav;
  src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-Light.otf);
}
.navbar {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  height: 100vh;
  position: sticky;
  justify-content: center;
  top: 0;
}
.navbar .bullet {
  margin: 0.3rem;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .bullet__number {
  font-family: MonkFontNav;
  font-size: 0.7rem;
}

.color-grey {
  background-color: #2c2d38;
}

.color-yellow {
  background-color: #ffcb16;
}

.color-blue {
  background-color: #4f24ee;
}

.color-violet {
  background-color: #3c0c60;
}

.color-lime {
  background-color: #00dc7c;
}

.color-green {
  background-color: #002838;
}

.logo-grey {
  filter: initial;
}

.logo-yellow {
  filter: invert(18%) sepia(80%) saturate(6816%) hue-rotate(272deg) brightness(84%) contrast(87%);
}

.logo-blue {
  filter: invert(55%) sepia(39%) saturate(372%) hue-rotate(30deg) brightness(164%) contrast(108%);
}

.logo-violet {
  filter: invert(29%) sepia(43%) saturate(7027%) hue-rotate(331deg) brightness(101%) contrast(101%);
}

.logo-lime {
  filter: invert(20%) sepia(85%) saturate(3250%) hue-rotate(195deg) brightness(65%) contrast(119%);
}

.logo-green {
  filter: invert(81%) sepia(25%) saturate(6572%) hue-rotate(39deg) brightness(91%) contrast(101%);
}

.nav-grey {
  border: 2px solid #dfbbfe;
}
.nav-grey:hover {
  background: #dfbbfe;
}
.nav-grey:hover .navItem-grey {
  color: #2c2d38;
}

.navItem-grey {
  color: #dfbbfe;
}

.nav-yellow {
  border: 2px solid #7d26c9;
}
.nav-yellow:hover {
  background: #7d26c9;
}
.nav-yellow:hover .navItem-yellow {
  color: #ffcb16;
}

.navItem-yellow {
  color: #7d26c9;
}

.nav-blue {
  border: 2px solid #e1ff9a;
}
.nav-blue:hover {
  background: #e1ff9a;
}
.nav-blue:hover .navItem-blue {
  color: #4f24ee;
}

.navItem-blue {
  color: #e1ff9a;
}

.nav-violet {
  border: 2px solid #ff245b;
}
.nav-violet:hover {
  background: #ff245b;
}
.nav-violet:hover .navItem-violet {
  color: #3c0c60;
}

.navItem-violet {
  color: #ff245b;
}

.nav-lime {
  border: 2px solid #4f24ee;
}
.nav-lime:hover {
  background: #4f24ee;
}
.nav-lime:hover .navItem-lime {
  color: #00dc7c;
}

.navItem-lime {
  color: #4f24ee;
}

.nav-green {
  border: 2px solid #00dc7c;
}
.nav-green:hover {
  background: #00dc7c;
}
.nav-green:hover .navItem-green {
  color: #002838;
}

.navItem-green {
  color: #00dc7c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #2c2d38;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
body .logoContainer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
}
body .logoContainer__img {
  width: 5%;
  height: auto;
}
body #container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-areas: "sec1 nav" "sec2 nav" "sec3 nav" "sec4 nav" "sec5 nav" "sec6 nav" "sec7 nav";
}
body #container #section-0, body #container #section-2, body #container #section-3, body #container #section-6, body #container #section-5, body #container #section-4 {
  font-family: MonkFontTittle;
  color: #dfbbfe;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: sec1;
}
body #container #section-0 h1, body #container #section-2 h1, body #container #section-3 h1, body #container #section-6 h1, body #container #section-5 h1, body #container #section-4 h1 {
  width: 60%;
  line-height: 6rem;
}
body #container #section-0 .vectorContainer, body #container #section-2 .vectorContainer, body #container #section-3 .vectorContainer, body #container #section-6 .vectorContainer, body #container #section-5 .vectorContainer, body #container #section-4 .vectorContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  width: 50%;
}
body #container #section-0 .vectorContainer .vectorTrace, body #container #section-2 .vectorContainer .vectorTrace, body #container #section-3 .vectorContainer .vectorTrace, body #container #section-6 .vectorContainer .vectorTrace, body #container #section-5 .vectorContainer .vectorTrace, body #container #section-4 .vectorContainer .vectorTrace {
  width: 40%;
}
body #container #section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sec2;
}
body #container #section-2, body #container #section-3, body #container #section-6, body #container #section-5, body #container #section-4 {
  color: #7d26c9;
  grid-area: sec3;
}
body #container #section-2 .section-2__tittle, body #container #section-3 .section-2__tittle, body #container #section-6 .section-2__tittle, body #container #section-6 .section-6__tittle, body #container #section-5 .section-2__tittle, body #container #section-5 .section-5__tittle, body #container #section-4 .section-2__tittle, body #container #section-4 .section-4__tittle, body #container #section-3 .section-3__tittle, body #container #section-6 .section-3__tittle, body #container #section-5 .section-3__tittle, body #container #section-4 .section-3__tittle {
  width: 70%;
  font-size: 5.4rem;
  line-height: 6rem;
}
body #container #section-2 .section-2__tittle--span, body #container #section-3 .section-2__tittle--span, body #container #section-6 .section-2__tittle--span, body #container #section-5 .section-2__tittle--span, body #container #section-4 .section-2__tittle--span {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  height: 3rem;
}
body #container #section-2 .section-2__paragraph, body #container #section-3 .section-2__paragraph, body #container #section-6 .section-2__paragraph, body #container #section-6 .section-6__paragraph, body #container #section-5 .section-2__paragraph, body #container #section-5 .section-5__paragraph, body #container #section-4 .section-2__paragraph, body #container #section-4 .section-4__paragraph, body #container #section-3 .section-3__paragraph, body #container #section-6 .section-3__paragraph, body #container #section-5 .section-3__paragraph, body #container #section-4 .section-3__paragraph {
  width: 40%;
  font-family: MonkFontParagraph;
  font-size: 2rem;
}
body #container #section-3, body #container #section-6, body #container #section-5, body #container #section-4 {
  color: #e1ff9a;
  grid-area: sec4;
}
body #container #section-4 {
  color: #ff245b;
  grid-area: sec5;
}
body #container #section-5 {
  color: #4f24ee;
  grid-area: sec6;
}
body #container #section-5 .section-5__midContainer {
  display: flex;
  justify-content: center;
  width: 40%;
}
body #container #section-5 .section-5__midContainer__img {
  width: 40%;
}
body #container #section-6 {
  color: #00dc7c;
  grid-area: sec7;
}
section {
  height: 100vh;
  min-height: 100vh;
}

.parallax {
  background-image: url(../assets/Art.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
  perspective: 1px;
}

/*# sourceMappingURL=styles.css.map */
