.navbar{
    display: flex;
    flex-direction: column;
    grid-area: nav;
    height: 100vh;
    position: sticky;
    justify-content: center;
    top: 0;

    .bullet{
        margin: 0.3rem;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__number{
            font-family: MonkFontTextRegular;
            font-size: 1rem;
            text-decoration: none;
        }
    }
}