.parallax-mirror{
    display: none;
    @media (min-width:$bp-xl-2){
        display: flex;
        justify-content: flex-end;
        left: 230px!important;

    }
}
.parallax-slider{
    display: none;
    @media (min-width:$bp-xl-2){
        display: block;
        filter: opacity(50%);
        top: -270px;
    }
    
}

.parallax-window{
    background: none!important;
    @media (min-width:$bp-xl-2){
        background: url(../assets/Art.svg);
    }
}