@font-face {
    font-family: MonkFontTittle;
    src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-ExtXBd.ttf);
}
@font-face {
    font-family: MonkFontTextRegular;
    src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-TextMd.otf);
}

$backgroundColor: #2c2d38;
$backgroundColor2: #ffcb16;
$backgroundColor3: #3c0c60;
$backgroundColor4: #002838;
$tittleColor: #dfbbfe;
$tittleColor2: #7d26c9;
$tittleColor3: #e1ff9a;
$tittleColor4: #ff245b;
$tittleColor5: #4f24ee;
$tittleColor6: #00dc7c;

$logoColor1: #DFBBFE;

/* bp = breakpoint */

$bp-small: 24em;
$bp-small-2: 29.75em;
$bp-small-3: 40em;
$bp-small-4: 45em;
$bp-med: 46.8em;
$bp-med-2: 48em;
$bp-large: 50em;
$bp-large-2: 54.4em;
$bp-xl: 60em;
$bp-xl-2: 67em;
$bp-xxl: 75em;
$bp-xxl-2: 85em;
$bp-1044p: 90em;
$bp-1080p: 120em;
$bp-4k: 125em;