@font-face {
    font-family: MonkFontTittle;
    src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-ExtXBd.ttf);
}
@font-face {
    font-family: MonkFontParagraph;
    src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-TextMd.otf);
}
@font-face {
    font-family: MonkFontNav;
    src: url(../assets/fonts/HelveticaNowForMonks/otf/HelveticaNowforMonks-Light.otf);
}

$backgroundColor: #2c2d38;
$tittleColor: #dfbbfe;
$tittleColor2: #7d26c9;
$tittleColor3: #e1ff9a;
$tittleColor4: #ff245b;
$tittleColor5: #4f24ee;
$tittleColor6: #00dc7c;